@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F1F1;
    height: 100svh;
    font-family: 'Inter',sans-serif;
}
/* Navigation Styles */
.dashboard__navbar,
.plan__header{
    background-color: #1A1A1A;
    padding: 
    12px 16px 12px 16px;
}
.navbar--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.navbar--items,
.options__items{
    list-style: none;
    /* flex: 1; */
}
/* Search Bar */
.navbar--items .group{
    width: 480px;
    height: 32px;
    background-color: #303030;
    border: 1px solid #616161;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    padding-right: 1em;
    
}
.search__container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}
.navbar--items input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #B5B5B5;
}
/* Profile */
span.profile{
    display: flex;
    justify-content: space-between;
    gap: .5em;
}
.profile__notification,
.profile__individual{
    color: #F1F1F1;
    background-color: #303030;
    padding: .5em;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.profile__individual{
    padding: 0 0 0 .5em;
    gap: .5em;
}
.individual__name{
    font-size: 12px;
}
.profile--name{
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #36FBA1;
    padding: .5em;
    font-weight: 700;
}

.dashboard__content{
    padding: 2em;
}
.plan__header{
    border-radius: 8px;
    color: #F1F1F1;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: space-between;
    padding-top: .7em;
    padding-bottom: .7em;
}
span.text{
    align-self: center;
}
.plan--action > button{
    background-color: #F1F1F1;
    padding: 
    6px 12px 6px 12px;
    outline: 0;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: .7em;
}
.plan__body{
    border-radius: 5px;
    padding: 1em;
    background-color: #ffffff;
    margin-top: 1em;
}
.sub__container{
    display: flex;
    justify-content: space-between;
    gap: .8em;
    width: 100%;
}
.heading{
    font-weight: 700;
}
div.progress{
 margin-top: .7em;
 display: flex;
 gap: .5em;
}
div.progress div.bar{
    width: 72px;
    height: 4px;
    background-color: #B5B5B5;
    border-radius: 4px;
    align-self: center;
}
div.progress div.bar > .bar__body{
    width: 18px;
    height: 4px;
    background-color: #1A1A1A;
    border-radius: 4px;
}
ul.plan__options{
    background-color: #f3f3f3;
}
li.options__items{
    padding: 
    8px 8px 12px 8px;
    margin-top: 2em;
    display: flex;
}
.checkbox__wrapper{
    display: flex;
    flex-direction: column;
    gap: .7em;
}
.checkbox__content{
    display: flex;
    gap: .7em;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: .7em;
    width: .7em;
    border-radius: 50%;
    background: #ffeded38;
    transition: all 0.2s ease;
    border: 4px dashed #303030;
  }
  
  .checkmark {
    opacity: 0.4;
  }
  
  .container input:checked ~ .checkmark {
    background: #1A1A1A;
    opacity: 0.9;
    transition: all 0.2s ease;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 0.05em;
    width: 0.15em;
    height: 0.3em;
    border: solid rgb(255, 255, 255);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
.plan_btn{
    width: 160px;
    color: #F1F1F1;
    padding: .38em .75em;
    border-radius: 0.375rem;
border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
background: #404040;
box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
cursor: pointer;
}

















/* Media Queries */
/* Mobile Responsiveness */
@media(max-width: 275px){
    .logo-icon
    
  {
        width: 20px !important;
        height: 20px;
    }
    .search__container{
        margin-left: .4em !important;
    }
    .search__container .search-btn{
        width: 15px !important;
        margin-right: .4em !important;
    }
    .profile__notification{
        padding: .1em !important;
        font-size: .7em;
    }
    .profile--name{
        font-size: .7em;
    }
    .navbar--items .group{
        width: 50px !important;
        height: 28px !important;
    }
}

@media(max-width: 375px){
    .dashboard__navbar{
        padding: 
        12px 5px 12px 5px !important;
    }
    .navbar--content{
        gap: .5em;
    }
    .logo__wrapper{
        display: flex;
        align-items: center;
    }
    .logo-icon{
        width: 22px;
        height: 22px;
    }
    .navbar--items .group{
        width: 168px !important;
        height: 32px;
        gap: 1px;
    }
    .profile__individual{
        margin-left: 0;
    }
    .profile__notification{
        padding: .3em !important;
    }
    .profile--name{
        padding: .3em !important;
    }
    span.profile{
        gap: .2em;
        justify-content: flex-end;
    }
}
@media(max-width: 480px){
    .logo-word,
    .individual__name{
      display: none;
      visibility: hidden;
    }
    .dashboard__navbar{
        background-color: #1A1A1A;
        padding: 
        12px 2px 12px 2px;
    }
    .navbar--items .group{
        width: 238px;
        height: 32px;
        gap: 1px;
    }
    .search__container{
        margin-left: .4em !important;
    }
    .search__container .search-btn{
        width: 15px !important;
        margin-right: .4em !important;
    }
    .navbar--content{
        gap: .5em;
    }
    
         .profile__individual{
             padding: 0 0 0 0;
         }
    .profile--name{
        padding: .5em !important;
    }
    .dashboard__content{
        padding: 0;
        margin-top: 2em;
    }
    .plan__header{
        border-radius: 0;
    }
    .sub--img{
        display: none;
    }
  }
  /* Bigger Screens */
@media(min-width: 480px){
    .logo-icon{
      display: none;
      visibility: hidden;
    }
  }
  @media(min-width: 480px) and (max-width: 630px){
    .individual__name{
     font-size: 8px;
     padding: .2em !important;
    }
  }
  @media(min-width: 480px) and (max-width: 630px) {
    .navbar--items .group{
        width: 168px !important;
        height: 32px;
        gap: 1px;
    }
    .profile--name{
        padding: .3em;
    }
  }
  @media(min-width: 630px) and (max-width: 751px) {
    .navbar--items .group{
        width: 268px !important;
        height: 32px;
        gap: 1px;
    }
  }
  @media(min-width: 751px) and (max-width: 839px) {
    .navbar--items .group{
        width: 268px !important;
        height: 32px;
        gap: 1px;
    }
  }