@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
     text-decoration: none;
  }
  
  :root{
    --body-bg:#E3E3E3;
    --navbar-bg: #1C181D;
    --search-bg: #303030;
    --border-bg: #616161;
    --borderhov-bg: #F7F7F7;
    --borderpres-bg: #F1F1F1;
    --borderfocus-bg: #005BD3;
    --body-color: #B5B5B5;
    --profile-bg: #0ae07f;
  }
  body{
    background-color: var(--body-bg);
    height: 100svh;
    font-family: 'Inter',sans-serif;
}
/* Navigation Styles */
.dashboard__navbar,
.plan__header{
    background-color: #1A1A1A;
    padding: 
    12px 16px 12px 16px;
}
.navbar--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.navbar--items,
.options__items{
    list-style: none;
    /* flex: 1; */
}
/* Search Bar */
.navbar--items .group{
    width: 480px;
    height: 32px;
    background-color: var(--search-bg);
    /* border: 1px solid var(--border-bg); */
    border-radius: 7px;
    display: flex;
    gap: 10px;
}
.navbar--items .group:hover{
    border:1px solid var(--borderhov-bg) ;
  
  }

.search__container{
    margin-left: .7em;
    position: absolute;
    top: 1.3em !important;
}
.navbar--items input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #B5B5B5;
    padding-left: 3em;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
}
.navbar--items input:active{
    border:1px solid var(--borderhov-bg) ;
  
  }
  .navbar--items input:focus{
    border:1px solid var(--borderhov-bg) ;
  
  }
/* Profile */
span.profile{
    display: flex;
    justify-content: space-between;
    gap: .5em;
}
.profile__notification,
.profile__individual{
    color: #F1F1F1;
    background-color: #303030;
    padding: .5em;
    display: flex;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.notification__container{
    position: relative;
}
.notification__wrapper{
    position: absolute;
    right: 1em;
    padding: 1.3em;
    background-color: var(--borderhov-bg);
    border-radius: 5px;
    width: 16em;
    z-index: 1000;
    display: none;
}
.profiler__wrapper{
    position: absolute;
    /* padding: 1em; */
    background-color: var(--borderhov-bg);
    border-radius: 10px;
    width: 20em;
    z-index: 1000;
    display: none;
    top: 4em;
    right: 1em;
}
.show{
    display: block;
}
.notification-icons{
    display: flex;

}
#message{
    background-color: #F1F1F1;
    padding: 1em;
    margin-top: .7em;
}
.profile__individual{
    padding: 0 0 0 .5em;
    gap: .5em;
    border: 0;
    background-color: #303030;
}
.individual__name{
    font-size: 1em;

}
.profile--name,
.profiler_letters{
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #36FBA1;
    padding: .7em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.items--one,
.items--two{
    width: 100%;
    border-bottom: 1px solid var(--border-bg);
    padding: .8em;
    font-family: 'Inter', sans-serif;
    
}
.items--one .item__one,
.item_{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3em .9em;
    gap: .5em;
    border: 0;
    background-color: var(--borderpres-bg);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}
.profiler__name,
.profiler_letters{
    align-self: center;
    font-family: 'Inter', sans-serif;
    
}
.item__sibling,
#texter{
    background-color: transparent;
    width: 100%;
    display: flex;
    padding: 0.7em .9em;
    gap: .5em;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    
}
a{
    color: var(--navbar-bg);
}
/* Dashboard Styles */
.dashboard__container{
    padding: 2em;
}
.plan__header{
    border-radius: 8px;
    color: #F1F1F1;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: space-between;
    padding-top: .7em;
    padding-bottom: .7em;
}
span.text{
    align-self: center;
}
.plan--action > button{
    background-color: var(--borderhov-bg);
    padding: 
    6px 12px 6px 12px;
    outline: 0;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: .7em;
    cursor: pointer;
}
.plan--action > .disable {
    background-color: transparent;
    padding: 
    0;
    outline: 0;
    border: 0;
    border-radius:0;
    position: relative;
    bottom: 0;
}
.remove{
    display: none;
}











































































/* Media Queries */
/* Mobile Responsiveness */
@media(max-width: 275px){
    .logo-icon
    
  {
        width: 20px !important;
        height: 20px;
    }
    
    .search__container{
        margin-left: .4em !important;
        top: 1.35em;
    }
    .search__container .search-btn{
        width: 15px !important;
        margin-right: .4em !important;
    }
    .profile__notification{
        padding: .1em !important;
        font-size: .7em;
    }
    .profile--name{
        font-size: .7em;
    }
    .navbar--items .group{
        width: 50px !important;
        height: 28px !important;
    }
}

@media(max-width: 375px){
    .dashboard__navbar{
        padding: 
        12px 5px 12px 5px !important;
    }
    .navbar--content{
        gap: .5em;
    }

    .logo__wrapper{
        display: flex;
        align-items: center;
    }
    .logo__wrapper img{
        /* margin-left: 2em; */
    }
    .logo-icon{
        width: 22px;
        height: 22px;
    }
    .search__container{
        top: 1.45em;
    }
    .navbar--items .group{
        width: 168px !important;
        height: 32px;
        gap: 1px;
    }
    .profile__individual{
        margin-left: 0;
    }
    .profile__notification{
        padding: .3em !important;
    }
    .profile--name{
        
        padding: .3em !important;
    }
    span.profile{
        gap: .2em;
        justify-content: flex-end;
    }
}
@media(max-width: 480px){
    .logo-word,
    .individual__name{
      display: none;
      visibility: hidden;
    }
    .dashboard__navbar{
        background-color: #1A1A1A;
        padding: 
        12px 2px 12px 2px;
    }
    .flex1{flex:.5 ;}
    .flex2{flex: 2;}
 
    .navbar--items .group{
        width: 238px;
        height: 32px;
        gap: 1px;
    }
    .search__container{
        top: 1.45em;
    }
    .search__container .search-btn{
        width: 15px !important;
        margin-right: .4em !important;
    }
    .navbar--content{
        gap: .5em;
    }
    
   .profile__individual{
             padding: 0 0 0 0;
         }
    .profile--name,
    .profile__notification{
        padding: .7em !important;
    }
    .profile--name{
        /* height: 3.2em; */
        padding: 1.015em .7em !important;

    }
    .dashboard__content{
        padding: 0;
        margin-top: 2em;
    }
    .plan__header{
        border-radius: 0;
    }
    .sub--img{
        display: none;
    }
  }

  /* Bigger Screens */
@media(min-width: 480px){
    .logo-icon{
      display: none;
      visibility: hidden;
    }
  }
  @media(min-width: 480px) and (max-width: 630px){
    .individual__name{
     font-size: 10px;
     padding: .2em !important;
    }
    .search__container{
        top: 1.29em;
    }
  }
  @media(min-width: 480px) and (max-width: 630px) {
    .navbar--items .group{
        width: 168px !important;
        height: 32px;
        gap: 1px;
    }
    .profile--name{
        padding: .7em;
    }
  }
  @media(min-width: 630px) and (max-width: 751px) {
    .navbar--items .group{
        width: 268px !important;
        height: 32px;
        gap: 1px;
    }
  }
  @media(min-width: 751px) and (max-width: 839px) {
    .navbar--items .group{
        width: 268px !important;
        height: 32px;
        gap: 1px;
    }
  }



