@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --body-bg: #e3e3e3;
  --navbar-bg: #1c181d;
  --search-bg: #303030;
  --border-bg: #616161;
  --borderhov-bg: #f7f7f7;
  --borderpres-bg: #f1f1f1;
  --borderfocus-bg: #005bd3;
  --body-color: #b5b5b5;
  --profile-bg: #0ae07f;
}
body {
  background-color: var(--body-bg);
  height: 100dvh;
  font-family: "Inter", sans-serif;
}
/* Navigation Styles */
.dashboard__navbar,
.plan__header {
  background-color: #1a1a1a;
  padding: 12px 16px 12px 16px;
}
.navbar--content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.navbar--items,
.options__items {
  list-style: none;
  /* flex: 1; */
}
/* Search Bar */
.navbar--items .group {
  width: 480px;
  height: 32px;
  background-color: var(--search-bg);
  /* border: 1px solid var(--border-bg); */
  border-radius: 7px;
  display: flex;
  gap: 10px;
}
.navbar--items .group:hover {
  border: 1px solid var(--borderhov-bg);
}

.search__container {
  margin-left: 0.7em;
  position: absolute;
  top: 1.3em !important;
}
.navbar--items input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #b5b5b5;
  padding-left: 3em;
  border-radius: 7px;
  font-family: "Inter", sans-serif;
}
.navbar--items input:active {
  border: 1px solid var(--borderhov-bg);
}
.navbar--items input:focus {
  border: 1px solid var(--borderhov-bg);
}
/* Profile */
span.profile {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.profile__notification,
.profile__individual {
  color: #f1f1f1;
  background-color: #303030;
  padding: 0.5em;
  display: flex;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.profile__individual:hover {
  background-color: #616161;
}
.profile__notification:hover {
  background-color: #616161;
}
.profile__individual:active {
  background-color: #656266;
}
.profile__notification:active {
  background-color: #656266;
}
.profile__individual:focus {
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}
.profile__notification:focus {
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}
.notification__container {
  position: relative;
}
.notification__wrapper {
  position: absolute;
  right: 1em;
  padding: 1.3em;
  background-color: var(--borderhov-bg);
  border-radius: 5px;
  width: 16em;
  z-index: 1000;
  display: none;
}
.profiler__wrapper {
  position: absolute;
  /* padding: 0.375rem 0rem; */
  background-color: #fff;
  border-radius: 10px;
  width: 20em;
  z-index: 1000;
  display: none;
  top: 4em;
  right: 1em;

  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.show {
  display: block;
}
.notification-icons {
  display: flex;
}
#message {
  background-color: #f1f1f1;
  padding: 1em;
  margin-top: 0.7em;
}
.profile__individual {
  padding: 0 0 0 0.5em;
  gap: 0.5em;
  border: 0;
  background-color: #303030;
}
.individual__name {
  font-size: 1em;
}
.profile--name,
.profiler_letters {
  display: flex;
  align-items: center;
  border-radius: 7px;
  background-color: #36fba1;
  padding: 0.7em;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.profiler_letters{
    transition: all 100ms ease-in;
}
.items--one,
.items--two,
.items--three {
  width: 100%;
  border-bottom: 1px solid var(--border-bg);
  padding: 0.8em;
  font-family: "Inter", sans-serif;
}
.items--three {
  border: none;
}
.items--one .item__one,
.item__two,
.item__three {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0;
  gap: 0.5em;
  border: 0;
  background-color: var(--borderpres-bg);
  font-family: "Inter", sans-serif;
  font-size: 1em;
}
.item__two,
.item__three {
  background-color: transparent;
  flex-direction: column;
}
.profiler__name,
.profiler_letters {
  align-self: center;
  font-family: "Inter", sans-serif;
}
.item__sibling,
.menu__list {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  outline: 0;
  border: 0;
  color: var(--search-bg);
  cursor: pointer;
  margin-top: .2em;
  padding: 0.375rem;

}
.item__sibling:hover{
    background: #F1F1F1;

}
.menu__list:hover{
    background: #F1F1F1;
}
.item__sibling:active{
    background: #F1F1F1;

}
.menu__list:active{
    background: #F1F1F1;
}
.item__sibling:focus{
    border: 2px solid  #005BD3;

}
.menu__list:focus{
    border: 2px solid  #005BD3;
}
a {
  width: 100%;
  color: var(--search-bg);
  font-family: "Inter", sans-serif;
  text-align: left;
}
/* Dashboard Styles */
.dashboard__container {
  padding: 1em 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8em;
}
.plan__header {
  border-radius: 8px;
  color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-radius: 0.5rem;
}
span.text {
  align-self: center;
}
.plan--action > button {
  background-color: var(--borderhov-bg);
  padding: 6px 12px 6px 12px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  position: relative;
  bottom: 0.7em;
  cursor: pointer;
}
.plan--action > .disable {
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  position: relative;
  bottom: 0;
}
.remove {
  display: none;
}

/* Dashboard */

.dashboard--accordion {
  background-color: #fff;
  border-radius: 1.125rem;
  position: relative;
}
.label__content {
  font-weight: normal;
}

#content,
 .accordion__content{
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
 visibility: hidden;
  height: 0;
  transition: 0.5s;
}
.accordion__contentbox {
  padding: .4em 1em;
  position: relative;
  display: flex;
  flex-direction: column;
}

.accordion__content > p{
  /* padding: 2em; */
  /* visibility: hidden; */
}
.label {
  padding: 1em;
  border-radius: 1.125rem;
  /* border: 1px solid #DBDBDB; */
  /* box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05); */
  position: relative;
  color: #303030;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.label__header {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  position: relative;
  padding: 0.5em;
}
button.chevrons,
button.checker {
    border-radius: 0.375rem;
    padding: 0.25rem;
    position: relative;
    right: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* outline: 1px; */
    border: 0;
    background-color: transparent;
    /* transition: 1s ease-in; */
  }
  button.chevrons:hover {
    background-color: #f1f1f1;
  }
  button.chevrons:active {
    background-color: #f0f0f0;
  }
  button.chevrons:focus {
    outline:2px solid #005BD3;
    background-color: #f0f0f0;
    outline-offset:1px;
  }
.chevrons svg {
  position: absolute;
  top: 0;
  right: .15em;
}
.hidden {
  display: none;
}
.accordion__label {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: .25rem;
}
.accordion__label > span{
    align-self: center;
    font-family: Inter;
font-size: 0.8125rem;
font-style: normal;
font-weight: 600;
color: #303030;
}
button.checker{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 0;
    /* background-color: aqua; */
}
button.checker svg {
    stroke-dasharray: 4 6;
    position: absolute;
}
button.checker svg.spinner-icon{
    stroke-dasharray: 0 0;
}
button.checker:focus svg {
    stroke-dasharray: 0 0;
}
button.checker:hover svg{
    stroke-dasharray: 0 0;
}
.accordion__content {
  padding-left: 2.18rem;
  font-weight: normal;
  height: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  /* visibility: hidden; */
}
.accordion__content >div{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.accordion__content >div p{
  /* display: flex; */
  /* flex-direction: column; */
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}
.accordion__content > div p a{
  color: #005BD3;
  margin-top: .4em;
}
.accordion__content > div .content--btn button{
    padding: 0.375rem 0.75rem;
    border: 1.5px 1.5px 0px 1.5px;
    border-radius: 0.375rem;
    border-top: 1.5px solid rgba(255, 255, 255, 0.20);
    border-right: 1.5px solid rgba(255, 255, 255, 0.20);
    border-left: 1.5px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    background: #404040;
    color: #F6F3F6;
    font-family: 'Inter';
font-size: 0.75rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 0.975rem */
    cursor: pointer;
}
.accordion__content > div .content--btn button + button{
  background-color: transparent;
  color: #323232;
  border: none;
  outline: none;
  box-shadow: none;
  margin-left: .4em;
  padding: 0.375rem 0.75rem;
}
.accordion__content > div .content--btn button + button:hover{
  background-color: #E7E7E7;
  box-shadow: none;

}
.accordion__content > div .content--btn button + button:active{
  background-color: #E0E0E0;
}
.accordion__content > div .content--btn button + button:focus{
  background-color: #E0E0E0;
}
.accordion__content > div .content--btn button:hover{
  border-radius: 0.375rem;
border-top: 1.5px solid  rgba(255, 255, 255, 0.20);
border-right: 1.5px solid rgba(255, 255, 255, 0.20);
border-left: 1.5px solid rgba(255, 255, 255, 0.20);
background: #2A2A2A;
box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}
.accordion__content > div .content--btn button:active{
  border-radius: 0.375rem;
background: #2B2B2B;
box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}
.accordion__content > div .content--btn button:focus{
  border-radius: 0.375rem;
  border-top: 1.5px solid rgba(255, 255, 255, 0.20);
  border-right: 1.5px solid rgba(255, 255, 255, 0.20);
  border-left: 1.5px solid rgba(255, 255, 255, 0.20);
  background: #404040;
  box-shadow: 0px 0px 0px 2px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
  outline-offset: 2px;
}


.spinner-icon{
    animation: spin .5s infinite linear;
}
.completed-icon{
    animation: zoom-in-spin .3s  linear ;
}

@keyframes zoom-in-spin{
    from{
        transform: scale(0) rotate(270deg);
        opacity: 0;
    }
    to{
        transform: scale(1) rotate(360deg);
       opacity: 1; 
    }
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#content.active {
  visibility: visible; 
    overflow: hidden;
    height:350px;
}
.accordion__content.active,
.accordion__label{
  visibility: visible; 
  overflow: hidden;
background: #F3F3F3;
border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
}

.accordion__content.active{
    height:120px;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}






























































































































/* Media Queries */
/* Mobile Responsiveness */
@media (max-width: 275px) {
  .logo-icon {
    width: 20px !important;
    height: 20px;
  }

  .search__container {
    margin-left: 0.4em !important;
    top: 1.35em;
  }
  .search__container .search-btn {
    width: 15px !important;
    margin-right: 0.4em !important;
  }
  .profile__notification {
  }
  .profile--name {
    /* font-size: 0.7em; */
  }
  .navbar--items .group {
    width: 50px !important;
    height: 28px !important;
  }
}
@media (min-width: 360px) and (max-width: 375px){
  .navbar--content.flex2{
    padding: 0 2em;
  }
}
@media (max-width: 375px) {
  .dashboard__navbar {
    padding: 12px 5px 12px 5px !important;
  }
  .navbar--content {
    gap: 0.2em;
  }

  .logo__wrapper {
    display: flex;
    align-items: center;
  }
  .search__container {
    top: 1.45em;
  }
  .navbar--items .group {
    max-width: 268px !important;
    height: 32px;
    gap: 1px;
  }
  .profile__individual {
    margin-left: 0;
  }
  span.profile {
    gap: 0.2em;
    justify-content: flex-end;
  }
  ul li:nth-child(3) .accordion__content.active{
    height:153px;
}
}
@media (max-width: 480px) {
  .logo-word,
  .individual__name {
    display: none;
    visibility: hidden;
  }
  .dashboard__navbar {
    background-color: #1a1a1a;
    padding: 12px 2px 12px 2px;
  }
  .navbar--items .group {
    width: 100% !important;
    flex: 3;
  }
  
  .search__container {
    top: 1.45em;
  }
  .search__container .search-btn {
    width: 15px !important;
    margin-right: 0.4em !important;
  }
  .navbar--content {
    gap: 0.2em;
  }

  .profile__individual {
    padding: 0 0 0 0;
  }
  .profile--name,
  .profile__notification {
    /* padding: 0.375rem !important; */
  }
  .profile--name {
    width: 36px;
    height: 36px;
    /* padding:  0.5625rem 0.3125rem 0.625rem 0.3125rem !important; */
  }
  .dashboard__content {
    padding: 0;
    margin-top: 2em;
  }

  .sub--img {
    display: none;
  }
  .dashboard__container {
    padding: 2em 0;
    
  }
  .plan__header,
  .dashboard--accordion{
    border-radius: 0;
  }
  .accordion__content > img{
    display: none;
  }
}
@media (max-width: 480px){
  .navbar--content{
    
    justify-content: space-between !important;
  }
  .navbar--items.flex2{
    padding: 0 .3em !important;
    flex: 3;
  }
  #content.active {

      height:400px;
  }
  ul li:nth-child(3) .accordion__content.active{
    height:140px;
}
ul li:nth-child(5) .accordion__content.active{
  height:130px;
}
.accordion__content >div p {
  padding: .3em;
}
  .accordion__content >div{
    gap: .2em !important;
  }
}
@media (max-width: 780px){
  .accordion__content >div{
    gap: .5em;
  }
}
/* Bigger Screens */
@media (min-width: 480px) {
  .logo-icon {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 480px) and (max-width: 630px) {
  .individual__name {
    font-size: 10px;
    padding: 0.2em !important;
  }
  .search__container {
    top: 1.29em;
  }
  .dashboard__container {
    padding: 2em 0;
  }
  .plan__header,
  .dashboard--accordion{
    border-radius: 0;
  }
  .navbar--items.flex2{
    padding: 0 2em !important;
  }
  .individual__name {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 444px) and (max-width: 480px){
  .navbar--items.flex2{
    padding: 0 2em !important;
  }
}
@media (min-width: 480px) and (max-width: 630px) {
  .navbar--items .group {
    width: 198px !important;
    height: 32px;
    gap: 1px;
  }
  .profile--name {
    padding: 0.7em;
  }
}
@media (min-width: 630px) and (max-width: 751px) {
  .navbar--items .group {
    width: 268px;
    max-width: 398px !important;
    height: 32px;
    gap: 1px;
  }
  .navbar--content{
    justify-content: space-between;
  }
  .dashboard__container {
    padding: 2em 0 !important;
  }
}
@media (min-width: 751px) and (max-width: 839px) {
  .navbar--items .group {
    /* width: 268px !important; */
    height: 32px;
    gap: 1px;
  }
  .dashboard__container {
    padding: 5em !important;
  }
}

@media (min-width: 1000px){
  .navbar--content{
    justify-content: space-between;
  }
}